.cart-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    border-left: 2px solid var(--primary);
}

.cart-container__heading {
    font-size: 2rem;
    font-weight: 700;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart__empty {
    text-align: center;
    font-size: 1.25rem;
    padding: 2rem 0;
    color: var(--primary);
}

.cart__total {
    align-self: flex-end;
    font-weight: 500;
    font-size: 1.25rem;
}

.item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 4px;
    background-color: color-mix(in oklch, var(--primary), transparent 90%);
}

.item:hover {
    background-color: color-mix(in oklch, var(--primary), transparent 80%);
}

.item__info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.item__actions {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem;
}

.item__image {
    max-width: 4rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 4px;
}

.item__quantity {
    font-size: 0.9rem;
}

.item__total-breakdown {
    font-size: 0.75rem;
    color: color-mix(in oklch, var(--text), transparent)
}

.item__button {
    padding: 0.5rem 0.25rem;
    background-color: color-mix(in oklch, red, transparent 90%);
    border: 2px solid color-mix(in oklch, red, transparent);
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.item__button:hover {
    background-color: color-mix(in oklch, red, transparent 80%);
}

.item__button:focus-visible {
    outline: 2px solid var(--text);
    outline-offset: -2px;
}

.item__button:active {
    transform: scale(0.98);
    background-color: color-mix(in oklch, red, transparent 80%);
    transition: none;
}

.update-quantity {
    display: flex;
    height: fit-content;
    gap: 0.5rem;
    background-color: color-mix(in oklch, var(--primary), transparent 90%);
    border: 2px solid var(--primary);
    border-radius: 4px;
}

.update-quantity__button--dec {
    width: 1rem;
    background-color: color-mix(in oklch, var(--primary), transparent 80%);
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.update-quantity__button--dec:hover {
    background-color: color-mix(in oklch, var(--primary), transparent);
}

.update-quantity__button--dec:focus-visible {
    outline: 2px solid var(--background);
    outline-offset: -2px;
    border-radius: 4px;
}

.update-quantity__button--dec:active{
    opacity: 0.6;
}

.update-quantity__button--inc {
    width: 1rem;
    background-color: color-mix(in oklch, var(--primary), transparent 80%);
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.update-quantity__button--inc:hover {
    background-color: color-mix(in oklch, var(--primary), transparent);
}

.update-quantity__button--inc:focus-visible {
    outline: 2px solid var(--background);
    outline-offset: -2px;
    border-radius: 4px;
}

.update-quantity__button--inc:active{
    opacity: 0.6;
}