.header {
    background-color: var(--primary);
    padding: 2rem 1rem;
    border-radius: 0 0 16px 16px;
}

.header__title {
    color: var(--background);
    font-size: 1.5rem;
    font-weight: 500;
}