.products__heading {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text);
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    gap: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
       		    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #f0f0f0;
    border-radius: 0.5rem;
}

.product:hover {
    background-color: color-mix(in oklch, var(--primary), rgb(255,255,255) 90%);
}

.product__name {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--text);
}

.product__price {
    color: green;
}

.product__price::before {
    content: "₹";
}

.product__category {
    width: fit-content;
    font-size: 0.9rem;
    color:var(--background);
    background-color: darkturquoise;
    border-radius: 4px;
    padding: 0.125rem 0.25rem;
}

.product__image {
    aspect-ratio: 16/9;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.product__stock {
    color: red;
}

.product__stock::before {
    content: "Only ";
    color: var(--text);
}

.product__stock::after {
    content: " left!";
    color: var(--text);
}

.product__button {
    padding: 0.5rem;
    background-color: var(--primary);
    color:var(--background);
    border: none;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out,
                transform 0.1s ease;
}

.product__button:hover {
    background-color: color-mix(in oklch, var(--primary), rgb(0,0,0) 20%);
    transform: translateY(-1px);
}

.product__button:focus-visible {
    outline: 2px solid var(--background);
    outline-offset: -2px;
}

.product__button:active{
    transform: translateY(0) scale(0.98);
    background-color: color-mix(in oklch, var(--primary), rgb(0,0,0) 20%);
    transition: none;
}