
/* Base Styles */

@import url('./base/reset.css');
@import url('./base/variables.css');

/* Components */

@import url('./components/header.css');
@import url('./components/products.css');
@import url('./components/cart.css');
@import url('./components/footer.css');

/* Layout */

.main {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}